/*

    font-family: 'Open Sans', sans-serif;

*/
.footer_wrapper{
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #ededed;
    background-color: #fafafa;
}
.copy_right{
    font-size: 14px;
    color:#686868;
    padding: 15px 0;
    text-align: center;
}