@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; angular material theme for global  */
/*

    font-family: 'Lato', sans-serif;

    font-family: 'Ubuntu', sans-serif;

*/
/*-=-=-=-==-==-=-=-=-=-=-=-=-==-==-==-= Common Library -=-=-------------=-=-*/
*,p{margin:0;}*{outline:0;padding:0}.html{font-size:14px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{font-family: 'Ubuntu', sans-serif;font-size:12px}h1,h2,h3,h4,h5,h6{font-family: 'Lato', sans-serif;}a,button{text-decoration:none;color:#555;display:inline-block}.block_element,address,article,aside,footer,header,nav,section{display:block}a:focus,a:hover{color:#23527c;text-decoration:none}img{border:0;vertical-align:middle;max-width:100%}dl,ol,ul{list-style:none}.padding_bottom_60{padding-bottom:60px}.padding_bottom_70{padding-bottom:70px}button{background:transparent;border:none;}ul{margin-bottom:0}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #686868;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #686868;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #686868;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #686868;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #686868;
}
::placeholder { /* Most modern browsers support this now. */
    color: #686868;
    opacity:  1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
 }
 .alert-success,.alert-danger{
    color: #ffffff;
    font-size: 14px;
    border-color: transparent;
    box-shadow: 0 5px 38px rgba(0,0,0,0.2);
    letter-spacing: 0.5px;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    border: 2px solid transparent;
 }
 .alert-danger {
    background-color: #ca4350;
    border-color:#f1a1a9;
 }
 .alert-success {
    background-color: #4ee26a;
    border-color:#d0ffd9;
 }
 .disabled,a.disabled,button.disabled,input[type="submit"].disabled{
    cursor: not-allowed;
 }
 .modal-backdrop.show {
    opacity: .6;
}
.modal-body{
    padding: 0.5rem;
}
.modal-dialog,.modal.show .modal-dialog {
    max-width: 700px;
    /* margin: 3rem auto 1.75rem; */
    margin: 0;
    width: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
select{
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.tringle_arrow{
    position: relative;
}
.tringle_arrow::after {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    color: #000;
    font-size: 19px;
    top: 8px;
    right: 8px;
    pointer-events: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.img_and_video_slider_controller{
    max-width: 535px;
    margin: 0 auto;
}
/* Multypel Form  */
.example-additional-selection {
    font-size: 14px;
}
.mat-form-field{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.mat-select-placeholder,
.mat-select,
.mat-option,
.mat-form-field{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color:#686868;
}
.mat-select-panel {
    margin-top: 28px;
}
.mat-select-trigger{
    height: 20px;
}
.mat-pseudo-checkbox {
    color: #8f2de2;
    border-radius: 0 !important;
}
.mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate{
    border-color:#8f2de2 !important;
}
.mat-option.mat-active {
    color: #686868;
}
.mat-pseudo-checkbox::after,.mat-pseudo-checkbox-checked::after{
    border: none !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #8f2de2 !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    left: 2px !important;
    top: 2px !important;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: transparent;
}
.mat-select-content, .mat-select-panel-done-animating {
    background: #f4f4f4;
}
.cdk-overlay-pane{
    transform: translateX(-50%) !important;
    left: 50% !important;
    overflow-x: hidden;
}
/* .ng-trigger{
    min-width:100% !important;
    width: 100% !important;
} */
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color:#8f2de2;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #8f2de2;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #8f2de2;
}
.mat-select-arrow,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color:transparent;
}
.mat-select-arrow-wrapper{
    position: relative;
}
.mat-select-arrow-wrapper::after{
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    color: #8f2de2;
    font-size: 19px;
    top: 0px;
    right: 3px;
    pointer-events: none;
}
/* Multypel Form */

/* Chip */

.mat-chip {
    font-size: 15px;
}
.mat-standard-chip {
    padding: 7px 12px;
    border-radius: 0 !important;
}
.mat-standard-chip.mat-chip-with-trailing-icon {
    padding-right: 12px !important;
    padding-left: 12px !important;
}
.mat-chip.mat-standard-chip {
    background-color: #fff;
    color: #8f2de2;
    box-shadow: 5px 0px 21px rgba(157,157,157,0.29);
}
.mat-form-field-appearance-legacy .mat-form-field-label{
    color:#8f2de2;
}
.mat-chip-list-wrapper input.mat-input-element{
    padding: 10px 0;
}
.mat-chip.mat-standard-chip .mat-chip-remove {
    color: #fb655a;
    opacity: 1;
}
.mat-chip .mat-chip-remove.mat-icon, .mat-chip .mat-chip-trailing-icon.mat-icon{
    font-size: 20px;
}
.mat-chip-list-wrapper {
    padding-bottom: 20px;
}
.mat-autocomplete-panel{
    background-color: #f4f4f4;
}
.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
    background-color: #f4f4f4;
}

/* Chip */

@media (min-width:320px) and (max-width:767px){
    .modal-dialog,.modal.show .modal-dialog {
        max-width: 500px;
    }
    .mat-chip-list-wrapper {
        padding-bottom: 0;
    }
}
@media (min-width:768px) and (max-width:959px){
    .modal-dialog,.modal.show .modal-dialog {
        max-width: 500px;
    }
}
 /*-=-=-=-==-==-=-=-=-=-=-=-=-==-==-==-= Common Library -=-=-------------=-=-*/

/* Signup page step1 */
.signup_tab .nav-link {
    color: #cc90ff;
    border-bottom: 2px solid #cc90ff;
    border-radius: 0;
}
.signup_tab .nav-pills .nav-link.active,.signup_tab .nav-pills .show > .nav-link{
    background-color: transparent;
    color:#fff;
    border-bottom: 2px solid #fff;
    border-radius: 0;
}
.signup_tab li.nav-item {
    margin-right:40px;
    font-size: 16px;
}
.signup_tab li.nav-item:last-child{
    margin-right:0;
}
.signup_tab .nav-link{
    padding:2px 0;
}
.signup_tab .tab-content{
    margin-top: 35px;
}
/* Signup page step1 */

/* Add More Information */

.img_and_video_slider_controller .carousel-control-next,
.img_and_video_slider_controller .carousel-control-prev{
    background-color: #898989;
    width:30px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}
.img_and_video_slider_controller .carousel-control-prev-icon,
.img_and_video_slider_controller .carousel-control-next-icon{
    width:15px;
    height: 15px;
}
.img_and_video_slider_controller .carousel-control-prev{
    left: -20px;
}
.img_and_video_slider_controller .carousel-control-next{
    right: -20px;
}
.img_and_video_slider_controller .carousel-indicators{
    display: none;
}

/* Add More Information */

/* Add Drink Category Component */
.category-input-holder .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #e5e5e5;
}
.category-input-holder .mat-form-field-label-wrapper{
    display: none;
}
/* Add Drink Category Component */

/* Owl Controler */

.owl-controler .owl-nav{
    top: 50%;
    margin-top: -10px !important;
    position: absolute;
    width: 100%;
}
.owl-controler .owl-theme .owl-nav [class*="owl-"] {
    margin: 0;
    border-radius: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.owl-carousel .owl-nav .owl-prev{
    left: 0;
}
.owl-carousel .owl-nav .owl-next{
    right: 0;
}

/* Owl Controller */