<app-header></app-header>

<main class="main_wrapper">
    <section class="subscription_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 offset-lg-2 offset-xl-2 heading_tag">
                    <h1>Choose Your Subscription Plan</h1>
                    <div class="subscription_plan_holder">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 plan_box">
                                <figure class="plan_box_holder gray_side">
                                    <div class="plan_price">
                                        <img src="assets/images/price_holder.png" alt="Money Holder">
                                        <h3>Subscription Plan</h3>
                                        <h2>Free</h2>
                                    </div>
                                    <figcaption class="plan_description">
                                        <ul>
                                            <li>It is a long established fact that a reader</li>
                                            <li>Readable content of a page</li>
                                            <li>Lorem Ipsum has been the industry's</li>
                                            <li>more recently with desktop publishing</li>
                                        </ul>
                                        <button type="button" class="choose_plan">Choose Plan</button>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 plan_box">
                                <figure class="plan_box_holder violate_side">
                                    <div class="plan_price">
                                        <img src="assets/images/price_holder.png" alt="Money Holder">
                                        <h3>Subscription Plan</h3>
                                        <h2>$45</h2>
                                    </div>
                                    <figcaption class="plan_description">
                                        <ul>
                                            <li>It is a long established fact that a reader</li>
                                            <li>Readable content of a page</li>
                                            <li>Lorem Ipsum has been the industry's</li>
                                            <li>more recently with desktop publishing</li>
                                        </ul>
                                        <button type="button" class="choose_plan">Choose Plan</button>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>